* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

button{
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  position: relative;
  z-index: 9;
}

button:active{
  background-color: darkred;
  scale: 0.98;
}