* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  overflow: hidden;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.card{
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px 30px;
}

.card p{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.card p span{
  font-weight: 600;
  color: royalblue;
}

.outer{
  height: 20px;
  border-radius: 50px;
  width: 100%;
  background-color: rgb(197,197, 197);
}

.inner{
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: inherit;
} 

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.bottom h2{
  font-weight: 600;
  font-size: 60px;
}

.bottom button{
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: green;  
  color: white;
  cursor: pointer;
  font-family: monospace
}


.bottom button:active{
  background-color: darkgreen;
  scale: 0.98;
}