* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#box{
    height: 100px;
    width: 100px;
    background-color: red;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: green;
}

.counter{
    font-size: 4rem;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: red;
    border: none;
    border-radius: 20px;
}